.select-list {
	display: flex;
	flex-direction: column;
	// gap: 1px;
	background-color: var(--base-color);
	box-shadow: var(--shadow-1);
	--base-color: white;
	--highlight-color-1: var(--slate-8);
	--highlight-color-2: var(--slate-7);
	--highlight-color-text: white;
	--border-color: var(--slate-2);

	> li {
		max-inline-size: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--base-color);
		color: var(--text-dark);

		button {
			background-color: transparent;
			text-align: start;
			padding: var(--size-2) var(--size-3);
		}

		> :first-child {
			flex: 1 1 auto;
		}

		&:hover {
			background-color: var(--highlight-color-1);
			color: var(--highlight-color-text);
		}
		&:focus-within {
			background-color: var(--highlight-color-2);
			color: var(--highlight-color-text);
		}

		& + li {
			border-top: 1px solid var(--border-color);
		}
	}

	&[data-type='gray'] {
		--base-color: var(--slate-0);
	}

	&[data-type='compact'] {
		box-shadow: none;
		gap: 0;

		button {
			padding: var(--size-1) var(--size-2);
		}
	}

	&[data-type='blue'] {
		--base-color: var(--slate-0);
		--highlight-color-1: var(--slate-1);
		--highlight-color-2: var(--cyan-8);
		--highlight-color-text: var(--text-dark);
		--border-color: var(--slate-9);

		> li:focus-within {
			background-color: var(--base-color);
			color: var(--highlight-color-text);
		}
	}
}
