.text-dark {
	color: var(--text-dark);
}

.text-light {
	color: var(--text-light);
}

.link-dark,
.link-dark:visited {
	color: var(--cyan-9);
}

.space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.align-center {
	display: flex;
	align-items: center;
}

.align-base {
	display: flex;
	align-items: baseline;
}

.align-flex-start {
	align-self: flex-start;
}

.gap-1 {
	gap: var(--size-1);
}

.gap-2 {
	gap: var(--size-2);
}

.gap-3 {
	gap: var(--size-3);
}

.overlap-children {
	// display: grid !important;
	display: grid;

	> * {
		grid-column: 1;
		grid-row: 1;
	}
}
