@import 'open-props/style';
@import 'open-props/normalize';
@import 'open-props/colors-hsl';

html {
	// --link: var(--blue-4);
	accent-color: var(--blue-2);
}

.cm-cursor {
	/* Something about OP normalize makes the cursor look weird */
	border-width: 0 0 0 2px !important;
}

body {
	/* background-color: #13131d; */
	/* background-color: #121212; */
	background-color: $slate-900;
	/* background-color: #467696; */
	font-family: Lato, sans-serif;
	color: white;
}

input[type='text'],
textarea {
	width: 100%;
	background-color: $slate-700;
	/* Open Props overrides this apparently */
	cursor: text;
}

._space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;

	--gap: 1rem;
	gap: var(--gap);
}

._button {
	background-color: #13131d;
	border: none;
	color: white;
	padding: 0.2rem 1rem;
	border-radius: 5px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
