@use 'utility';
@use 'block';
@import 'open-props/style';
@import 'open-props/normalize';
/* @import 'open-props/colors-hsl'; */

html {
	--slate-0: #eceff1;
	--slate-1: #cfd8dc;
	--slate-2: #b0bec5;
	--slate-3: #90a4ae;
	--slate-4: #78909c;
	--slate-5: #607d8b;
	--slate-6: #546e7a;
	--slate-7: #455a64;
	--slate-8: #37474f;
	--slate-9: #263238;
	--slate-light: #62717b;
	--slate-dark: #101f27;
	--text-dark: var(--slate-dark);
	--text-light: var(--slate-0);
	--link: var(--cyan-1);
	--link-visited: var(--cyan-1);
	--container-width: 1200px;
	accent-color: var(--cyan-5);
}

.cm-cursor {
	/* Something about Open Props normalize makes the cursor look weird */
	border-width: 0 0 0 2px !important;
}

.cm-editor {
	padding: var(--size-2) !important;
	border-radius: var(--border-size-3) !important;
}

body {
	background-color: var(--gray-2);
	font-family: Lato, sans-serif;
	color: white;
}

input[type='text'],
textarea {
	width: 100%;
	caret-color: var(--cyan-8);
	/* Open Props overrides this apparently */
	cursor: text;
}

input[type='text'],
textarea,
select {
	background-color: var(--slate-0);
	color: var(--text-dark);
	box-shadow: var(--shadow-1);
}

.button {
	background-color: var(--slate-1);
	color: var(--text-dark);
	font-weight: bold;
	border-radius: var(--radius-2);
	text-decoration: none;
}
.button:hover,
.button:focus-visible {
	background-color: var(--slate-2);
}

.button[data-type='primary'] {
	padding: var(--size-2) var(--size-4);
	background-color: var(--cyan-9);
	color: white;
	box-shadow: var(--shadow-2);
	font-size: var(--font-size-3);
	// font-size: var(--font-size-fluid-1);

	transition: transform 200ms var(--ease-5);

	&:hover,
	&:focus-visible {
		background-color: var(--cyan-8);
		transform: scale(1.1);
	}

	&:disabled {
		background-color: var(--slate-2);
	}
}

.button[data-type='dropdown'] {
	background-color: transparent;
}

h1,
h2,
h3 {
	// color: var(--slate-0);
	color: white;
}

h3 {
	font-size: var(--font-size-4);
}

a {
	text-decoration-color: currentColor;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
}
