@import 'open-props/style';
@import 'open-props/normalize';

body {
	/* background-color: #13131d; */
	/* background-color: #121212; */
	background-color: $gray-900;
	/* background-color: #467696; */
	font-family: Lato, sans-serif;
	color: white;
}

input[type='text'],
textarea {
	width: 100%;
	/* Open Props overrides this apparently */
	cursor: text;
}

._space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;

	--gap: 1rem;
	gap: var(--gap);
}

._button {
	background-color: #13131d;
	border: none;
	color: white;
	padding: 0.2rem 1rem;
	border-radius: 5px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
