$primary: hsl(171, 58%, 60%);
$warning: hsl(5, 58%, 60%);

// $slate-950: hsl(204, 22%, 9%);
// $slate-900: hsl(240, 10%, 8%);
// $slate-800: hsl(207, 18%, 12%);
// $slate-700: hsl(206, 22%, 14%);
// $slate-600: hsl(206, 22%, 18%);

// $text-light: hsl(210, 24%, 77%);
$text-light: var(--gray-2);
$text-dark: hsl(185, 14%, 49%);
// $text-dark: hsl(var(--blue-3-hsl) / 50%);
