$primary: hsl(171, 58%, 60%);
$warning: hsl(5, 58%, 60%);

$gray-950: hsl(204, 22%, 9%);
$gray-900: hsl(240, 10%, 8%);
$gray-800: hsl(207, 18%, 12%);
$gray-700: hsl(206, 22%, 14%);
$gray-600: hsl(206, 22%, 18%);

$text-light: hsl(210, 24%, 77%);
$text-dark: hsl(185, 14%, 49%);
